{% extends 'base.html' %}

{% block title %} 春木树洞 {% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success" style="text-align: center;">{{message}}</div>
{% endfor %}

{% for post in posts %}

<a href="{{url_for('post', post_id=post['id'])}}" style="color: rgb(34, 131, 63);">
    <h3>{{post['title']}}</h3>
</a>

<span class="badge badge-primary">{{post['author']}}</span>
<span class="badge badge-secondary">{{post['created']}}</span>

<!-- <a href="{{ url_for('edit', post_id=post['id']) }}">
    <span class="badge badge-warning">编辑</span>
</a> -->

<!-- <a href="{{ url_for('delete', post_id=post['id']) }}" onclick="return confirm('确定删除？')">
    <span class="badge badge-danger">删除</span>
</a> -->

<hr>

{% endfor %}

{% endblock %}