{% extends 'base.html' %}

{% block title %} 投稿文章 {% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-danger" style="text-align: center;">{{message}}</div>
{% endfor %}

<form method="post">
    <div class="form-group">
        <label for="title">标题</label>
        <input type="text" name="title" placeholder="" class="form-control" value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="author">作者</label>
        <input type="text" name="author" placeholder="" class="form-control"
            value="{{ request.form['author'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">内容</label>
        <textarea name="content" placeholder="" class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">提交</button>
        <button class="btn btn-outline-secondary" type="button" onclick="javascript:history.back(-1);">取消</button>
    </div>
</form>

{% endblock %}